<div class="container">
  <table  class="table table-striped table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Id card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Education degree</th>
      <th>Position</th>
      <th>Division</th>
      <th style="text-align: center">Action</th>
    </tr>
    <tbody>
    <tr *ngFor="let employees of employee ">
      <td>{{employees.id}}</td>
      <td>{{employees.name}}</td>
      <td>{{employees.date}}</td>
      <td>{{employees.idCard}}</td>
      <td>{{employees.phoneNumber}}</td>
      <td>{{employees.email}}</td>
      <td>{{employees.salary}}</td>
      <td>{{employees.educationDegree.name}}</td>
      <td>{{employees.position.name}}</td>
      <td>{{employees.division.name}}</td>
      <td style="text-align: center">
        <a class="btn btn-warning " style="margin-left: 10px">Detail</a>
        <a class="btn btn-primary" style="margin-left: 10px">Edit</a>
        <a class="btn btn-danger" style="margin-left: 10px">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
